<!DOCTYPE html>
<!--
	Designed by GOLDENRATIPHI

       ,(&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @          @@@@     #@     @@@    @@                                                      @
    @       @@          %@        @@  @&                                                      @
    @    @@@            ,@          @ @(                                                      @
    @   @@               @           @@.                                                      @
    @ @@                 @            @                                                       @
    @@@                  @            @                                                      @@
    @@                   @####@@      @                                                      @@
    @,                   @    @       @                                                     @@@
    @                    @@@  @     @@@                                                     @ @
    @                    @  @@@@  @@@ @                                                    @  @
    @                                 @                                                   @.  @
    @                                 @                                                  @@   @
    @                                 @                                                 @@    @
    @                                 @                                                @@     @
    @@                                @                                               @       @
    @@                                @                                             @@        @
    @ @                               @                                            @@         @
    @  @                              @                                          @@           @
    @   @                             @                                        @@             @
    @    @                            @                                      @@               @
    @     @@                          @                                    @@                 @
    @       @                         @                                 @@                    @
    @         @                       @                              @@                       @
    @           @@                    @(                         #@@                          @
    @              @@                 @@                     @@@                              @
    @                 @@@             @@               @@@@                                   @
    @                     *@@@@@      @@      @@@@@@@                                         @
																	@ ytixu.github.io/HTMLdump
	IZQ CN QNG HJZVS DQ LVUPGVPZ?
	FVUUV EGTLC HYGUUTUP FZEHTYZ YNPZYIZR?
	PZY TU YNGWI VY PNLCZURVYTNZHJ@PDVTL.WND

-->
<html ng:app="app" lang="en">
	<head>
		<meta charset="utf-8">
		<title>Mariana Claire</title>
		<!-- jQuery -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Angular -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js" ng:autobind></script>
		<!-- Google font -->
		<link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Poiret+One:100,400' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Icons -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!-- My style :3 -->
		<link rel="stylesheet" href="assets/css/style.css">
		<link rel="stylesheet" href="assets/css/portfolio.css">

	</head>
	<body ng-controller="viewCtrl">
		<div id="splash-bg-container"></div>
		<div id="side-menu">
			<a data-id="services" class="menu-slide-btn"><div id="splash2">
				<span class="lang-ENG">Services</span>
				<span class="lang-FREN">Services</span>
				<span class="lang-ESP">Servicios</span>
			</div></a>
			<a data-id="drawings" class="menu-slide-btn"><div id="splash3">
				<span class="lang-ENG">Drawings</span>
				<span class="lang-FREN">Dessin</span>
				<span class="lang-ESP">Dibujos</span>
			</div></a>
			<a data-id="contact" class="menu-slide-btn"><div id="splash5">
				<span class="lang-ENG">About Me</span>
				<span class="lang-FREN">About Me</span>
				<span class="lang-ESP">About Me</span>
			</div></a>
			<a data-id="testimonials" class="menu-slide-btn"><div id="splash6">
				<span class="lang-ENG">Testimonials</span>
				<span class="lang-FREN">Témoignages</span>
				<span class="lang-ESP">Testimonios</span>
			</div></a>
			<!-- <a href="https://medium.com/@MarianaClaire" target="_blank"><div>Blog</div></a> -->
			<a><div class="book-toggle-btn">
				<span class="lang-ENG">Book Service</span>
				<span class="lang-FREN">Réservez une session</span>
				<span class="lang-ESP">Reserve una sesión</span>
			</div></a>
		</div>
		<div id="splash-content-container">
			<div class="splash-div full-height" data-id="splash1" data-image="assets/images/1.jpg">
				<div id="splash-title" class="full-center">
					<span id="form-hide">
						Mariana Claire
						<div class="splash-subtitle">
							<span class="lang-ENG">a step into divinity and full healing</span>
							<span class="lang-FREN">un pas vers la divinité et la guérison spirituelle</span>
							<span class="lang-ESP">un paso hacia su poder interior</span>
							<br><br>
							<button type="button" class="btn btn-trans btn-trans-default book-toggle-btn all-cap"><strong>
								<span class="lang-ENG">Book a Session</span>
								<span class="lang-FREN">Réservez une session</span>
								<span class="lang-ESP">Reserve una sesión</span>
							</strong></button>
						</div>
					</span>
					<div id="bookingForm-display" class="splash-subtitle">
						<form id="bookingForm">
							<div class="row">
								<label class="col-md-2 text-right">
									<span class="lang-ENG">Name:</span>
									<span class="lang-FREN">Nom:</span>
									<span class="lang-ESP">Nombre:</span></label>
								<input class="col-md-9" type="text" name="name" required>
							</div>
							<div class="row">
								<label class="col-md-2 text-right">
									<span class="lang-ENG">Message:</span>
									<span class="lang-FREN">Message:</span>
									<span class="lang-ESP">Mensaje:</span></label>
								<textarea class="col-md-9 lang-ENG" name="message" placeholder="Tell me about the service that you would like to have and the time you would like to have it." required></textarea>
								<textarea class="col-md-9 lang-FREN" name="message" placeholder="Quel service aimerez-vous réserver et vers quelle heure?" required></textarea>
								<textarea class="col-md-9 lang-ESP" name="message" placeholder="Qué servicio le gustaría reservar y a qué hora le gustaría reservarlo?" required></textarea>
							</div>
							<div class="row">
								<label class="col-md-2 text-right">
									<span class="lang-ENG">Contact:</span>
									<span class="lang-FREN">Contact:</span>
									<span class="lang-ESP">Contacto:</span></label>
								<textarea class="col-md-9 lang-ENG" name="contact" maxlength="55" placeholder="Your email, skype username or any other means to get back to you." required></textarea>
								<textarea class="col-md-9 lang-FREN" name="contact" maxlength="55" placeholder="Votre email, votre nom de Skype ou un autre moyen où je pourrais vous contacter." required></textarea>
								<textarea class="col-md-9 lang-ESP" name="contact" maxlength="55" placeholder="Su email, su nombre de usuario de Skype u otro medio por donde podría contactarlo." required></textarea>
							</div><br>
							<input type="submit" value="CONFIRM" id="send-book-btn" class="btn btn-trans btn-trans-default lang-ENG" style="font-weight:bold;">
							<input type="submit" value="CONFIRMER" id="send-book-btn" class="btn btn-trans btn-trans-default lang-FREN" style="font-weight:bold;">
							<input type="submit" value="CONFIRMAR" id="send-book-btn" class="btn btn-trans btn-trans-default lang-ESP" style="font-weight:bold;">
							<button type="button" id="cancel-book-btn" class="btn btn-trans btn-trans-default">
								<strong class="lang-ENG">CANCEL</strong>
								<strong class="lang-FREN">ANNULER</strong>
								<strong class="lang-ESP">CANCELAR</strong>
							</button>
						</form>
					</div>
					<div id="success-message" class="splash-subtitle">
						Thanks for booking my service! I will get back to you soon.<br><br>
					</div>
				</div>
			</div>

			<a name="services"></a>
			<div class="splash-div" data-id="splash2" data-image="assets/images/2.jpg">
				<div class="color-black" style="margin:0;">
					<div style="padding:2%"> </div>
					<div class="row">
						<div class="col-lg-3 col-md-5 col-sm-12">
							<div class="subtitle">Services</div>
							<div class="row">
								<div class="col-md-12">{{ serviceText[languageOpt] }}</div>
							</div>
							<br>
							<div class="row">
								<div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 text-lg-right text-xs-right">
									<strong class="lang-ENG">Languages</strong>
									<strong class="lang-FREN">Langues</strong>
								</div>
								<div class="col-lg-12 col-md-8 col-sm-8 col-xs-12 lang-ENG">Available in English, French and Spanish</div>
								<div class="col-lg-12 col-md-8 col-sm-8 col-xs-12 lang-FREN">Disponible en Anglais, Français and Expagnol</div>
							</div>
							<br>
							<div class="row">
								<div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 text-lg-right text-xs-right">
									<strong class="lang-ENG">Location</strong>
									<strong class="lang-ENG">Lieu</strong>
								</div>
								<div class="col-lg-12 col-md-8 col-sm-8 col-xs-12 lang-ENG">
									Skype, Google Hangouts, Facebook messenger or in person if you live in Calgary</div>
								<div class="col-lg-12 col-md-8 col-sm-8 col-xs-12 lang-FREN">
									Skype, Google Hangouts, Facebook messenger ou en personne si vous habitez à Calgary</div>
							</div>
							<br>
						</div>
						<div class="col-lg-9 col-md-7 col-sm-12">
							<div class="row">
								<div class="backlight col-lg-1 col-md-3 col-sm-2 col-xs-3" ng-repeat="s in services" data-color="{{s.color}}">
									<a class="subtle" href="services/index.html#{{s.slug[languageOpt]}}">
										<div class="service-icon-sub"><i class="fa {{s.faIconBase}}"></i></div>
										<div class="service-icon"><i class="fa {{s.faIcon}}"></i></div>
										<h3 class="rotate">{{s.name[languageOpt]}}</h3>
									</a>
										<!-- <p ng-bind-html="s.description | to_trusted"></p> -->
								</div>
								<div class="col-lg-5 col-md-12 col-sm-10 col-xs-12">
									<br><br>
									<div class="row">
										<div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 text-lg-right text-xs-right">
											<strong>Payment</strong></div>
										<div class="col-lg-12 col-md-8 col-sm-8 col-xs-12"><i class="fa fa-paypal"></i> Paypal to my email: marianaclaireinfo@gmail.com
											<ul>
												<li>45$ for 30 mins</li>
												<li>67$ for 45 mins</li>
												<li>89$ for 1 hour</li>
												<li>112$ for 75 mins</li>
												<li>135$ for 90 mins</li>
												<li>60$ for a soul drawing</li>
												<li>85$ for a soul drawing + report</li>
												<li>100$ for a soul painting</li>
												<li>125$ for a soul painting + report</li>
											</ul>
										</div>
									</div>
			 						<div class="subtitle"><button type="button" class="btn btn-trans btn-trans-default book-toggle-btn"><strong>BOOK A SESSION</strong></button></div>
								</div>
							</div>
						</div>
					</div>
					<div style="padding:2%"> </div>
				</div>
			</div>
			<div style="margin:5%"></div>

			<a name="drawings"></a>
			<div class="splash-div" data-id="splash3" data-image="assets/images/3.jpg">
				<div class="portfolio">
					<div class="portfolio-title color-black">
						<div class="portfolio-buttom-align">Sample<br>Drawings</div>
					</div>
					<div class="portfolio-image" ng-repeat="d in drawings"
						ng-init="$last ? refresh() : null" data-image="{{d.image}}">
						<div class="portfolio-image-toggle">
							<div class="portfolio-image-title">{{d.name}}</div>
							<div class="portfolio-image-description">{{d.description}}</div>
						</div>
					</div>
					<div class="portfolio-last color-black">
						<br>
						<p>Soul Drawings are drawings of either your higher self or aspects of you, it could be your guides or one of your past life.</p>
						<div class="subtitle"><button type="button" class="btn btn-trans btn-trans-default book-toggle-btn"><strong>PURCHASE A DRAWING</strong></button></div>
					</div>
				</div>
			</div>

			<a name="contact"></a>
			<div class="splash-div" data-id="splash5" data-image="assets/images/4.jpg">
				<div style="margin:5%"></div>
				<div class="container color-black">
					<div class="subtitle">About Me</div>
					<div class="row">
						<div class="col-md-4">
							<center><img class="circle-image" src="assets/images/profile.jpg"></center>
							<h3></h3>
							<div class="contact-links">
								<a href="https://www.facebook.com/Mariana-Claire-1484113901885029/" target="_blank"><i class="fa fa-facebook-official"></i></a>
								<a href="skype:Marianas521?userinfo" title="Marianas521"><i class="fa fa-skype"></i></a>
								<a href="mailto:marianaclaireinfo@gmail.com" title="marianaclaireinfo@gmail.com"><i class="fa fa-envelope"></i></a>
							</div>
							<h3>Coming Soon</h3>
							<p>I will start writing blog and posting videos. Subscribe now to be the first one to know when the first entries are up.
							<div class="contact-links">
								<a href="https://medium.com/@MarianaClaire" target="_blank"><i class="fa fa-medium"></i></a>
								<a href="https://www.youtube.com/channel/UCECj3HY7vZ1-oAdtYjU1U-Q" target="_blank"><i class="fa fa-youtube"></i></a>
							</div>
						</div>
						<div class="col-md-8">
							<h3>{{ story.title[languageOpt] }}</h3>
							<p ng-repeat="s in story.content[languageOpt]">
								{{s}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<a name="testimonials"></a>
			<div class="splash-div" data-id="splash5" data-image="assets/images/4.jpg">
				<div class="container color-black">
					<div class="row">
						<div class="col-md-8">
							<div class="subtitle">Testimonials</div>
							<div id="testimonial-display">
								<span class="current"></span>/<span class="total"></span>
								<blockquote>

								</blockquote>
								<div class="text-right">
									~ by <span class="author"></span> - <span class="time"></span>
								</div>
							</div>
							<div class="subtitle"><button type="button" id="more-test-btn" class="btn btn-trans btn-trans-default"><strong>READ ANOTHER ONE</strong></button></div>
						</div>
						<div class="col-md-4">
							<div class="fb-page" data-href="https://www.facebook.com/Mariana-Claire-1484113901885029/timeline/" data-width="100%" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>
							<div id="fb-root"></div>
							<h3>Write a Testimonial</h3>
							<p>If you would like to write a testiminial after recieving one of my service, please post it on the <a href="https://www.facebook.com/Mariana-Claire-1484113901885029/" target="_blank">facebook page</a>.</p>
						</div>
					</div>
				</div>
				<div style="margin:10%"> </div>
				<div class="container">
					<div class="credit">&copy;Goldenrati&Phi; | 2015</div>
				</div>
			</div>
		</div>
	</body>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<!-- My script :3 -->
	<script src="assets/scripts/services.js"> </script>
	<script src="assets/scripts/drawings.js"> </script>
	<script src="assets/scripts/test.js"> </script>
	<script src="assets/scripts/data.js"> </script>
	<script src="assets/scripts/backlight.js"> </script>
	<script src="assets/scripts/portfolio.js"> </script>
	<script src="assets/scripts/script.js"> </script>
</html>