<!DOCTYPE html>
<!--
	Designed by GOLDENRATIPHI

       ,(&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @          @@@@     #@     @@@    @@                                                      @
    @       @@          %@        @@  @&                                                      @
    @    @@@            ,@          @ @(                                                      @
    @   @@               @           @@.                                                      @
    @ @@                 @            @                                                       @
    @@@                  @            @                                                      @@
    @@                   @####@@      @                                                      @@
    @,                   @    @       @                                                     @@@
    @                    @@@  @     @@@                                                     @ @
    @                    @  @@@@  @@@ @                                                    @  @
    @                                 @                                                   @.  @
    @                                 @                                                  @@   @
    @                                 @                                                 @@    @
    @                                 @                                                @@     @
    @@                                @                                               @       @
    @@                                @                                             @@        @
    @ @                               @                                            @@         @
    @  @                              @                                          @@           @
    @   @                             @                                        @@             @
    @    @                            @                                      @@               @
    @     @@                          @                                    @@                 @
    @       @                         @                                 @@                    @
    @         @                       @                              @@                       @
    @           @@                    @(                         #@@                          @
    @              @@                 @@                     @@@                              @
    @                 @@@             @@               @@@@                                   @
    @                     *@@@@@      @@      @@@@@@@                                         @
																	@ ytixu.github.io/HTMLdump
	IZQ CN QNG HJZVS DQ LVUPGVPZ?
	FVUUV EGTLC HYGUUTUP FZEHTYZ YNPZYIZR?
	PZY TU YNGWI VY PNLCZURVYTNZHJ@PDVTL.WND

-->

<html ng:app="app" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mariana Claire</title>
        <link rel="apple-touch-icon" sizes="57x57" href="../favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="../favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="manifest" href="../favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- jQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Angular -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js" ng:autobind></script>
        <!-- Google font -->
        <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One:100,400' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Icons -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <!-- My style :3 -->
        <link rel="stylesheet" href="../assets/css/style.css">
        <style type="text/css">
            img{
                margin: 40px 0;
            }
            h2, h3{
                margin-top: 30px;
            }
            h3 i.fa{
                color:#aaa;
            }
            body {
                counter-reset: section;
            }

            h3.enumerate:before {
                counter-increment: section;
                content: counter(section) ". ";
            }
            .faq-container{
                padding:5%;
            }
        </style>
    </head>
    <body>
        <div id="splash-bg-container">
            <div class="splash-bg"></div>
        </div>
        <div id="splash-content-container">
            <div style="margin:10%"> </div>
            <div class="container color-black" ng-controller="viewCtrl">
                <a href="../#{{languageOpt}}" class="subtle">
                    <i class="fa fa-chevron-left"></i> <span class="lang-ENG">Back</span>
                    <span class="lang-FREN">Retourner</span>
                    <span class="lang-ESP">Atrás</span>
                </a>

                <div class="faq-container">
                    <div id="title" ng-bind-html="data.payment.title[languageOpt] | to_trusted"></div>

                    <div ng-repeat="paymentType in data.payment.types">
                        <h3 class="enumerate">{{ paymentType.title[languageOpt] }}</h3>
                        <ul>
                            <li ng-repeat="p in paymentType.price[languageOpt]" ng-bind-html="p | to_trusted"></li>
                        </ul>
                    </div>
                </div>

                <a href="../#{{languageOpt}}" class="subtle">
                    <i class="fa fa-chevron-left"></i> <span class="lang-ENG">Back</span>
                    <span class="lang-FREN">Retourner</span>
                    <span class="lang-ESP">Atrás</span>
                </a>
                <i ng-init="refresh()"></i>
            </div>
            <div style="margin:10%"> </div>
            <div class="container" style="margin-bottom:0;">
                <div class="row">
                    <div class="col-xs-6">
                        <span class="credit">&copy;Mariana Claire | 2016</span>
                    </div>
                    <div class="col-xs-6 text-right">
                        <span class="credit">designed by&nbsp;</span><h3 style="margin-top:0;float:right;"><a href="http://ytixu.github.io/HTMLdump" target="_blank">Goldenrati&Phi;</a></h3>
                    </div>
                </div>
            </div>
        <div class="color-black up-scroller"><i class="fa fa-angle-up fa-2x fa-inverse"></i></div>
        </div>
    </body>
    <script type="text/javascript" src="../assets/scripts/package/prices.js"></script>
    <script src="../assets/scripts/upScroller.js"></script>
    <script>
        var validLangs = ["ENG", "FREN", "ESP"]
        function parseURL(){
            var args = window.location.href.split('#');
            if (args.length > 1 && validLangs.indexOf(args[1]) > 0){
                return args[1];
            }
            return "ENG";
        }
        var currentLang = parseURL();

        var app = angular.module('app', []);
        angular.module('app')
            .filter('to_trusted', ['$sce', function($sce){
                return function(text) {
                    return $sce.trustAsHtml(text);
                };
            }]);

        function viewCtrl($scope) {
            $scope.languageOpt = currentLang;
            $scope.data = serviceText;

            $scope.refresh = function() {
                window.setTimeout(function(){
                    $('.lang-'+currentLang).css({
                        'display': 'inline-block'
                    });
                    $('#splash-content-container').fadeIn('slow', function(){
                        // $(".lazy").lazyload({
                        //  effect : "fadeIn"
                        // });
                    });
                }, 500);
            };
        }
        (function(){
            $div = $('.splash-bg');
            $div.hide();
            $div.css('background-image','url("../assets/images/4.jpg")');
            $div.fadeIn('fast');
         }());

        // GA
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69806378-1', 'auto');
        ga('send', 'pageview');
    </script>
</html>