<!DOCTYPE html>
<!--
	Designed by GOLDENRATIPHI

       ,(&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @          @@@@     #@     @@@    @@                                                      @
    @       @@          %@        @@  @&                                                      @
    @    @@@            ,@          @ @(                                                      @
    @   @@               @           @@.                                                      @
    @ @@                 @            @                                                       @
    @@@                  @            @                                                      @@
    @@                   @####@@      @                                                      @@
    @,                   @    @       @                                                     @@@
    @                    @@@  @     @@@                                                     @ @
    @                    @  @@@@  @@@ @                                                    @  @
    @                                 @                                                   @.  @
    @                                 @                                                  @@   @
    @                                 @                                                 @@    @
    @                                 @                                                @@     @
    @@                                @                                               @       @
    @@                                @                                             @@        @
    @ @                               @                                            @@         @
    @  @                              @                                          @@           @
    @   @                             @                                        @@             @
    @    @                            @                                      @@               @
    @     @@                          @                                    @@                 @
    @       @                         @                                 @@                    @
    @         @                       @                              @@                       @
    @           @@                    @(                         #@@                          @
    @              @@                 @@                     @@@                              @
    @                 @@@             @@               @@@@                                   @
    @                     *@@@@@      @@      @@@@@@@                                         @
																	@ ytixu.github.io/HTMLdump
	IZQ CN QNG HJZVS DQ LVUPGVPZ?
	FVUUV EGTLC HYGUUTUP FZEHTYZ YNPZYIZR?
	PZY TU YNGWI VY PNLCZURVYTNZHJ@PDVTL.WND

-->

<html ng:app="app" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mariana Claire</title>
        <!-- jQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Angular -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js" ng:autobind></script>
        <!-- Google font -->
        <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One:100,400' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Icons -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- My style :3 -->
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
        <div id="splash-bg-container">
            <div class="splash-bg"></div>
        </div>
        <div id="splash-content-container">
            <div style="margin:10%"> </div>
            <div class="container color-black" ng-controller="viewCtrl">
                <a href="../#{{languageOpt}}" class="subtle">
                    <i class="fa fa-chevron-left"></i> <span class="lang-ENG">Back</span>
                    <span class="lang-FREN">Returner</span>
                    <span class="lang-ESP">Atrás</span>
                </a>
                <div class="row">
                    <div class="col-md-8">
                        <div class="service-icon-sub"><i class="fa {{service.faIconBase}}" style="color:{{service.color}};opacity:0.5;"></i></div>
                        <div class="service-icon"><i class="fa {{service.faIcon}}" style="color:{{service.color}};"></i></div>

                        <div id="title" ng-bind-html="service.name[languageOpt] | to_trusted"></div>
                        <div ng-bind-html="service.description[languageOpt] | to_trusted"></div>
                    </div>
                    <div class="col-md-4">
                        <div style="margin:5%"> </div>
                        <div class="backlight" ng-repeat="s in services" data-color="{{s.color}}" ng-init="$last ? refresh() : null" >
                            <div ng-click="changeService(s.slug[languageOpt])" style="cursor:pointer;">
                                <i class="fa {{s.faIcon}}"></i> {{s.name[languageOpt]}}
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin:5%"> </div>

            </div>
        </div>
    </body>
    <script type="text/javascript" src="../assets/scripts/services.js"></script>
    <script type="text/javascript" src="../assets/scripts/package/servicesFull.js"></script>
    <script type="text/javascript" src="../assets/scripts/backlight.js"></script>
</html>