.portfolio{
	width:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

.portfolio-title, .portfolio-image{
	height:300px;
}

.portfolio-image{
	background-size: cover;
	background-position: center;
	width:20%;
	cursor: pointer;
}

.portfolio-image-description{
	font-size:16px;
}

.portfolio-last{
	width:40%;
	overflow:visible;
}
.portfolio-title{
	width:40%;
}

.sm-padded{
	height: 200px;
	width:25%;
}

.portfolio-title{
	padding:10px;
	color:white;
	font-size:550%;
	text-align: right;
	line-height: 80%;
	display:table;
}

.portfolio-last{
	padding:20px;
}

.portfolio-buttom-align{
	display:table-cell;
	vertical-align: bottom;
	padding: 2%;
}

.portfolio-image-toggle{
	width:100%;
	height:100%;
	opacity:0;
	background-color:rgba(0,0,0,0.55);
	color:white;
	padding:5%;
	transition: opacity 0.25s ease-in-out;
  	-webkit-transition: opacity 0.25s ease-in-out;
  	-moz-transition: opacity 0.25s ease-in-out;
  	-ms-transition: opacity 0.25s ease-in-out;
  	-o-transition: opacity 0.25s ease-in-out;
}

.portfolio-image-toggle:hover{
	opacity:1;
}

.portfolio-image-title{
	font-size:25px;
}

@media screen and (max-width: 1200px) {
	.portfolio-title{
		width:60%;
		/*font-size: 400%*/
	}
	.portfolio-last{
		width:50%;
	}
}

@media screen and (max-width: 1000px) {
	.portfolio-image {
		width: 25%;
	}
	.portfolio-title{
		width:50%;
		font-size: 400%;
	}
}

@media screen and (max-width: 700px) {
	.portfolio-image {
		width: 50%;
		height: 200px;
	}
	.portfolio-title{
		width:100%;
		height: 200px;
		font-size: 500%
	}
	.portfolio-last{
		width:100%;
	}
}

@media screen and (max-width: 500px) {
	.portfolio-title{
		font-size: 350%
	}
}


#popupPortfolio{
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	height:100%;
	width: 100%;
	background-color:rgba(0,0,0,0.8);
	z-index:200;
	text-align: center;
	padding:1%;
	color:white;
}

#popupPortfolio div.centered{
	position:relative;
	top:50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);

	height:100%;
	max-width: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#popupPortfolio p{
	max-width: 1000px;
}

#popupPortfolio img{
	max-width: 100%;
	max-height: 80%;
}