/*color scheme
	contrast: #CC66FF (purple);
	highlight: ##6699FF (blue);
*/

body{
	font-family: 'Raleway', sans-serif;
	color:rgba(225,225,225,0.8);
	background-color:black;
	font-size: 20px;
}

.color-black{
	background-color:rgba(0,0,0, 0.8);
}

.all-cap{
	text-transform: uppercase;
}

#side-menu{
	z-index: 10;
	position:fixed;
	top:0;
	right: 0;
	text-align:right;
	width:100%;
	font-family: 'Poiret One', cursive;
	font-weight: 100;
	font-size: 24px;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    display:none;
	padding:5px 10px 0 10px;
}

#side-menu.active {
    background-color: #CC66FF;
}

.menu-slide-btn, #side-menu .book-toggle-btn{
	padding: 0 2%;
}

#side-menu.active a:hover{
	color:white;
	opacity: 0.6;
}

.menu-slide-btn{
    white-space: nowrap;
	display:inline-block;
	margin-bottom:-2px;
}

.menu-slide-btn.active{
    border-bottom: solid white 4px;
}

.mobile-menu-btn{
	display:none;
	float:left;
}

.splash-div{
	width:100%;
}

.splash-bg{
	z-index: 0;
	position:fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background-position:center;
	background-size:cover;
}

.full-height{
	height:100%;
}
.min-full-height{
	min-height:100%;
}

.full-center{
	position: relative;
	top: 40%;
	  -webkit-transform: translateY(40%);
	  -ms-transform: translateY(40%);
	  transform: translateY(40%);
	padding-bottom: 5%;
}

#splash-content-container{
	z-index: 5;
	position:absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	display:none;
}

#splash-title{
	position:relative;
	color: rgba(204, 102, 255, 0.6);
	text-align: center;
	top:0;
	font-size:420%;
	width:100%;
	height:100%;
	font-family: 'Calligraffitti', cursive;
	line-height: 70px;
}

#title{
	color: rgba(204, 102, 255, 0.6);
	text-align: center;
	font-size:420%;
	width:100%;
	font-family: 'Calligraffitti', cursive;
}

.splash-subtitle{
	color:rgba(225,225,225, 0.8);
	text-align: center;
	font-size:24px;
	text-transform: uppercase;
	margin:0 10px;
	font-family: 'Poiret One', cursive;
	font-weight: 400;
	line-height: 30px;
}


.btn-trans {
      background:none;
      box-shadow:none;
}

.btn-trans-default {
     border: 2px solid rgba(225,225,225, 0.8);
     color:rgba(225,225,225, 0.8);
}

.btn-trans-default:hover {
     background:rgba(225,225,225, 0.8);
}

.contact-links{
	text-align: right;
	position: relative;
	bottom: 62px;
	right:10px;
}

.contact-links a{
	text-decoration: none;
	color:white;
	font-size: 30px;
	margin:10px 10px 10px 4%;
}

.contact-links a:hover{
	color:#CC66FF;
}

h2, h3{
	font-family: 'Poiret One', cursive;
	font-weight: 100;
	color:white
}
h2{
	text-align: center;
	margin:0;
	font-size:50px;
}

.container{
	padding:20px;
	margin-bottom:40px;
}

.chart-caption{
	text-align: center;
}

.circle-image{
	border-radius: 100%;
	width:90%;
}

.credit{
	text-align:center;
	font-size:12px;
}

.square-img{
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center;
}
.square-img:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.hover-hightlight{
	padding:10px;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.hover-hightlight:hover{
	background-color:rgb(0,204,153);
	color:black;
}

.anchor-no-style{
	color:rgba(225,225,225, 0.8);
	text-decoration: none !important;
}

.anchor-np-style:hover{
	text-decoration: none !important;
}

button:focus{
	color:rgba(225,225,225, 0.8) !important;
}

.portfolio-title, .portfolio-image-title, #popupPortfolio h1{
	font-family: 'Poiret One', cursive;
}

.service-icon{
	text-align: center;
	font-size: 35px;
	margin-top:-75px;
	margin-right:-25px;
	color:white;
}

.service-icon-sub{
	margin-top:5px;
	margin-right:4px;
	text-align: center;
	font-size: 60px;
	color:rgba(225,225,225,0.5);
}

.subtitle{
	font-family: 'Poiret One', cursive;
	font-size: 60px;
	text-align: right;
}

.success-message, #more-about-me, #mc_embed_signup, #paypal-donate-form{
	display:none;
}


.row{
	margin:0;
}

.service-display{
	/*display:flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;

	-webkit-flex-flow: row wrap;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:flex-start;
	align-content: flex-start;*/
	/*display:block;*/
	text-align: center;
	max-width: 100%;

}

.service-item{
	width:14%;
	min-width:150px;
	padding: 0 10px;
	display:inline-block;
	vertical-align: top;
}

a.subtle, a.subtle:focus, a.subtle:active{
	opacity:0.8;
}

a.white, a.white:focus, a.white:active{
	color:white !important;
}

a, a:focus, a:active{
	color:white;
	cursor: pointer;
}

a .stack-base{
	color:#aaa;
}

a:hover, a:hover .stack-base{
	text-decoration: none;
	color:#CC66FF;
}

td{
	vertical-align: top;
	padding:10px;
}

.text-lg-right, .text-xs-right{
	margin-left:10px;
}

.rotate {
	position:relative;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	top:50px;
	margin-bottom:300px;
	white-space: nowrap;
}

/* languages */

.lang-ENG, .lang-FREN, .lang-ESP{
	display:none;
}

.form-tran input, .form-tran select{
    background-color: transparent;
    padding: 15px;
    border:0;
    border-bottom: solid rgba(255,255,255,0.4) 1px;
    padding: 2px 5px;
    font-family: 'Raleway';
    color:white;
    font-size: 20px;
}

.form-tran input:focus, .form-tran select:focus{
	outline: 0;
	background-color: transparent;
}

.form-tran option{
	background-color: rgba(0,0,0,0.8);
}

.body-content{
	display:none;
}

.init{
	position:absolute;
	font-size:40px;
	left:calc(50% - 20px);
	top:calc(50% - 20px);
}

.signature{
	font-family:'Pacifico',cursive;
	opacity:0.8;
	margin:20px 10% 30px 0;
}

@media screen and (max-width: 1200px) {
	.text-lg-right{
		text-align: right;
		margin-left:0;
	}
}

@media screen and (max-width: 720px) {
	.text-xs-right{
		text-align: left;
		margin-left:10px;
	}
	.menu-slide-btn{
		display: none;
		opacity:0;
	}
	.mobile-menu-btn{
		display:inline-block;
	}
	.menu-slide-btn.active{
		border-bottom: none;
		border-right: solid white 4px;
	}
	#side-menu{
		padding-bottom: 5px;
	}
}


.up-scroller{
	z-index:10;
	display:inline-block;
	position: fixed;
	bottom: 0;
	right:0;
	padding:0 10px;
	display: none;
	cursor: pointer;
}
